<div class="row mt-5">
	<div class="col-12 my-auto">
		<div class="card w-75 mx-auto">
			<div class="card-header">
				<h5>Letters on the Track</h5>
			</div>
			<div class="card-body">
				<form [formGroup]="trackForm" (ngSubmit)="onSubmit()">
					<div class="form-group row">
						<div class="col-12" (window:resize)="onResize($event)">
							<label>Track</label>
							<svg class="form-control" xmlns="http://www.w3.org/2000/svg" version="1.1" id="trackSvg" #trackSvg></svg>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-6">
							<label for="letterName">Letter</label>
							<input formControlName="letterName" type="text" class="form-control" name="letterName" id="letterName" maxlength="1" autocomplete="off">
							<div class="invalid-feedback" [ngClass]="{'d-block': trackForm.get('letterName').invalid && (hasSubmitted || hasRemoved)}">
								Field Letter is required and must be in range A-Za-z
							</div>
							<div class="invalid-feedback" [ngClass]="{'d-block': errors['removeLetterError'] !== 'undefined' && hasRemoved}">
								{{ errors['removeLetterError'] }}
							</div>
						</div>
						<div class="col-6">
							<label for="letterSpeed">Speed {{trackForm.value.letterSpeed}}</label>
							<input formControlName="letterSpeed" name="letterSpeed" id="letterSpeed" type="range" value="0" class="custom-range" min="0" max="10" step="1">
							<div class="invalid-feedback" [ngClass]="{'d-block': (trackForm.get('letterSpeed').invalid || errors['emptyLetterSpeed'] !== 'undefined') && hasSubmitted}">
								The speed of the new letter can't be 0
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<div class="col-6">
							<button type="submit" class="btn btn-lg btn-success btn-block">GO!</button>
						</div>
						<div class="col-6">
							<button type="button" class="btn btn-lg btn-light btn-block" (click)="removeLetter()">STOP</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
